.product {
   /* position: relative; */
   padding: 90px 0px 128px 0px;
   z-index:-1;

}

.product__color {
   position: absolute;
   left: 0;
   top: 1350px;
   height: 100%;
   width: 23%;
   background-color: #415167;
   z-index: -10;
}

.product__text {
   margin-bottom: 50px;
}

.product__slider__top {
   /* position: relative; */
   padding: 0px 0px 0px 130px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   min-width: 0;
}

.product__slider_btm {
   /* position: relative; */
   padding: 0px 0px 0px 130px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   min-width: 0;
}

.slider__item {
   /* position: absolute; */
   z-index:-1;
   display: flex;
   align-items: center;
   width: 559px;
   height: 280px;
   /* box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); */
   /* background-color: #fff; */
}

.product__image {
   background-color: #EDF0F5;
}

.product__img {
   background-color: #edf0f5;
}

.product__content {
   padding: 42px;
}

.product__price {
   font-family: "Nunito";
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   color: #c7a17a;
   margin-bottom: 8px;
}

.product__name {
   font-family: "Nunito";
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #232c38;
}

.product__description {
   font-family: "Nunito";
   font-weight: 300;
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 32px;
   color: #151d28;
}

.product__btn {}

.buy {
   border: none;
   width: 135px;
   height: 32px;
   text-transform: uppercase;
   background: #c7a17a;
   border-radius: 19px;
   font-family: "Nunito";
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   color: #f9fbff;
}

.desc {
   border: none;
   background: none;
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
   padding-left: 30px;
   color: #415167;
}
.slick-prev {
   left: 3% !important;
   z-index: 1;
 }
 .slick-next {
   right: 3% !important;
   z-index: 1;
 }
 /* the slides */
.slick-slide {
   margin: 0 0px;
}
/* the parent */
.slick-list {
   margin: 0 0px;
}
 