.combo {
    padding-left: 100px;
    padding-bottom: 128px;
 }
 .combo__text {
 }
 .combo__subtitle {
 }
 .combo__title {
    margin-bottom: 66px;
 }
 .combo__slider {
 }
 .combo-slider__item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* width: 349.5px;
   border: 3x solid transparent;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); */
 }
 
 .combo__img {
    background-color: #edf0f5;
 }
 .product__image {
   background-color: #EDF0F5;
 }
 .combo__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 360px;
 }
 .combo__price {
 }
 .old-price {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
    margin-left: 15px;
 }
 .combo__name {
 }
 
 .combo__description {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    padding-top: 9px;
 }
 
 .combo__sale {
 }
 .combo__button {
 }
 
