.giftset{
    position: relative;
    margin: 0 auto;
    max-width: 1262px;
    padding-top: 100px;
}

.giftset__tab {
    display: flex;
    max-width: 1138px;
    margin: 0 auto;
    position: relative;
 }
 .giftset__tab::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    min-width: 885px;
    height: 100%;
    background-color: #fff;
    z-index: -2;
    border: 0.5px solid #b9b9b9;
 }

 .tabs-content {
 }
.giftset__bg {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 91%;
   height: 100%;
   background-color: #fff;
   z-index: -2;
}


 .tabs-content__item {
    display: flex;
    position: relative;
    width: 1138px;
    height: 463px;
 }
 
 .tabs-content__item_active {
    display: flex;
    position: relative;
 }
 
 .giftset__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px 40px 40px;
    min-width: 530px;
 }
 .giftset__price {
   font-family: "Nunito";
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   color: #c7a17a;
   margin-bottom: 8px;
}

.giftset__name {
   font-family: "Nunito";
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #232c38;
}

.giftset__description {
   font-family: "Nunito";
   font-weight: 300;
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 32px;
   margin-top:20px;
   color: #151d28;
}
 .giftset__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0px 20px;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
 }
 .giftset__info_1,
 .giftset__info_2 {
    display: flex;
 }
 .giftset__info_1 img {
    margin-right: 12px;
    max-height: 40px;
    max-height: 40px;
 }
 .giftset__info_2 img {
    margin-right: 12px;
    max-height: 40px;
    max-height: 40px;
 }
 .info__title{
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 22px;
   color: #415167;  
 }
 .info__subtitle{
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
   color: #415167;
   min-width: 200px;
 }

 .giftset__link{
   display: flex;
   justify-content: space-between;
   padding: 0px 40px;
 }

 .buy {
    border: none;
    width: 135px;
    height: 32px;
    text-transform: uppercase;
    background: #c7a17a;
    border-radius: 19px;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #f9fbff;
 }
 
 .desc {
    border: none;
    background: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-right: 40px;
    color: #415167;
 }
 .flex-column {
   margin: 100px;
 }
 .col-3{
   display: flex;
   position: absolute;
   margin: 1120px;
   z-index: 30;
 }
 .nav-tabs{
   margin:0 0 0 0 ;
 }
 .nav-item{
   position: relative;
   width: 88px;
   height: 154px;
   background-color: #EDF0F5;
   cursor: pointer;
   vertical-align: middle;
 }
 .nav-link{
   width: 88px;
   height: 154px;
 }