

.giftset-bg {
    background: var(--cream);
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.giftset {
    padding: 86px 0px 125px 20px;
    margin-bottom: 100px;
    position: relative;
 }
 .giftset::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: #edf0f5;
    z-index: -3;
 }
 
 @media (max-width: 1400px) {
    .giftset::after {
       width: 80%;
    }
    .giftset__tab {
       margin-right: 50px;
    }
 }
 
 @media (max-width: 1279.9px) {
    .giftset__content {
       padding: 40px 100px;
    }
    .giftset__info {
       justify-content: space-around;
       text-align: left;
    }
    .giftset__info_1 {
    }
    .tabs-content__item--active > img {
       width: 500px;
       height: auto;
    }
    .tabs-content__item--active {
       flex-direction: column;
       align-items: center;
    }
    .giftset__tab::after {
       width: 100%;
    }
    .giftset__content {
       text-align: center;
    }
    .giftset__link {
       justify-content: center;
    }
    .buy  {
       margin-right: 80px;
    }
    .desc  {
        margin-right: 80px;
     }
 }
 @media (max-width: 999px) {
    .giftset {
       padding-left: 0px;
    }
    .giftset__tab {
       flex-direction: column-reverse;
       margin: 0 auto;
    }
    .tab-triggers {
       flex-direction: row;
    }
    .tabs-triggers__item {
       justify-content: center;
       padding: 15px;
       border: 0.5px solid #b9b9b9;
       border-bottom: none;
    }
    .giftset::after {
       width: 100%;
    }
 }
 @media (max-width: 600px) {
    .tabs-content__item--active > img {
       margin-top: 30px;
       width: 300px;
       height: auto;
    }
 }
 @media (max-width: 450px) {
    .tabs-content__item--active > img {
       margin-top: 30px;
       width: 200px;
       height: auto;
    }
 }
 @media (max-width: 380px) {
    .tabs-content__item--active > img {
       margin-top: 30px;
       width: 150px;
       height: auto;
    }
 }