.giftset1{
    position: relative;
    margin: 0 auto;
    max-width: 1262px;
    padding-top: 100px;
}

.giftset__tab {
    display: flex;
    max-width: 1138px;
    margin: 0 auto;
    position: relative;
 }
 .giftset__tab::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    min-width: 885px;
    height: 100%;
    background-color: #fff;
    z-index: -2;
    border: 0.5px solid #b9b9b9;
 }
 .tab-triggers {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6f8fc;
 }
 .tabs-triggers__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
    text-decoration: none;
    padding: 0px 25px;
 }
 .tabs-triggers__item_active {
    background-color: #fff;
    border: 0.5px solid #b9b9b9;
    border-left: none;
    transition: all 0.5;
 }
 .tabs-content {
 }
 .tabs-content__item {
    display: flex;
    position: relative;
 }
 
 .tabs-content__item_active {
    display: flex;
    position: relative;
 }
 
 .giftset__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px 40px 40px;
 }
 .giftset__price {
    margin-bottom: 12px;
 }
 .giftset__name {
    margin-bottom: 12px;
 }
 .giftset__description {
    margin-bottom: 24px;
 }
 .giftset__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    padding: 0px 20px;
 }
 .giftset__info_1,
 .giftset__info_2 {
    display: flex;
 }
 .giftset__info_1 img {
    margin-right: 12px;
    max-height: 40px;
    max-height: 40px;
 }
 .giftset__info_2 img {
    margin-right: 12px;
    max-height: 40px;
    max-height: 40px;
 }
 .info__title,
 .info__subtitle {
    font-family: "Nunito";
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
 }
 .giftset__link {
    display: flex;
    justify-content: space-between;
 }
 .giftset__link {
    padding: 0px 20px;
 }
 .buy {
    border: none;
    width: 135px;
    height: 32px;
    text-transform: uppercase;
    background: #c7a17a;
    border-radius: 19px;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #f9fbff;
 }
 
 .desc {
    border: none;
    background: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-left: 30px;
    color: #415167;
 }